<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="{{ url_for('static', filename='plotly.js') }}"></script>
    
</head>

<body>
	<div id='myDiv'>
    <!-- Plotly chart will be drawn inside this DIV --></div>
    <script type="text/javascript" src="/static/plotly.js"></script>
</body>

<script>
    var trace1 = {
    x: [1, 2, 3, 4, 6, 8],
    y: [10, 15, 13, 17, 10, 9],
    type: 'scatter'
  };
  

  
  var data = [trace1];
  
  Plotly.newPlot('myDiv', data);
</script>