  <head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  
 
  <!-- Plots go in blank <div> elements. 
      You can size them in the plot layout,
      or give the div a size as shown here.
  -->
  
  <div id="tester" style="width:90%;height:250px;"></div>

    <script>
        TESTER = document.getElementById('tester');
        Plotly.newPlot( TESTER, [{
        x: {{ enlem | safe }},
        y: {{ boylam | safe}} }], {
        margin: { t: 0 } } );

        setInterval(function(){
	        var update = {
		        x: [[{{ enlem | safe }}]],
		        y: [[{{ boylam | safe}}]]
	        };
	
         Plotly.extendTraces(TESTER, update, [0]);
        }, 1000);
    </script>